In [2]:
#Load Libraries 
from sklearn import datasets 
from sklearn.preprocessing import StandardScaler 
from sklearn.cluster import KMeans

In [3]:
#Load Data
iris = datasets.load_iris()
features = iris.data

In [4]:
#Standardize Features 
scaler = StandardScaler()
features_std = scaler.fit_transform(features)

In [18]:
#Create k-mean object 
cluster = KMeans(n_clusters = 4, random_state = 0)

In [19]:
#Train Model 
model = cluster.fit(features_std)

In [20]:
model.labels_

array([0, 2, 2, 2, 0, 0, 2, 0, 2, 2, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 2, 2, 2, 0, 0, 0, 2, 2, 0, 0, 0, 2, 2, 0, 0, 2, 0, 0, 2, 2, 0,
       0, 2, 0, 2, 0, 2, 1, 1, 1, 3, 3, 3, 1, 3, 1, 3, 3, 3, 3, 3, 3, 1,
       3, 3, 3, 3, 1, 3, 3, 3, 3, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1,
       1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 3, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1,
       1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1])

In [21]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [22]:
#Create new observation 
new_observation = [[0.8, 0.8, 0.8, 0.8]]

In [23]:
#Predict obseravtion's cluster 
model.predict(new_observation)

array([1])

In [24]:
#View cluster centers
model.cluster_centers_

array([[-0.74922133,  1.43007001, -1.29759846, -1.22142131],
       [ 1.06889068,  0.05759433,  0.96893325,  1.00231456],
       [-1.35230687,  0.11914427, -1.31439133, -1.29749445],
       [-0.07723421, -0.93062132,  0.32313817,  0.23727821]])

## Speeding Up K-Means Clustering

In [26]:
#Load Libraries 
from sklearn import datasets 
from sklearn.preprocessing import StandardScaler 
from sklearn.cluster import MiniBatchKMeans

In [27]:
#Load Data 
iris = datasets.load_iris()
features = iris.data

In [28]:
#Standardize Features 
scaler = StandardScaler()
features_std = scaler.fit_transform(features)

In [30]:
#Create k-mean object 
cluster = MiniBatchKMeans(n_clusters = 3, random_state = 0, batch_size = 100)

In [31]:
#Train Model 
model = cluster.fit(features_std)

C:\Users\ITLAB3\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:887: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 3072 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(

## Without Assuming the number of clusters or their shape

In [32]:
#Load Libraries 
from sklearn import datasets 
from sklearn.preprocessing import StandardScaler 
from sklearn.cluster import MeanShift

In [33]:
#Load Data
iris = datasets.load_iris()
features = iris.data

In [34]:
#Standardize Features 
scaler = StandardScaler()
features_std = scaler.fit_transform(features)

In [35]:
#Create meanshift object 
cluster = MeanShift(n_jobs = -1)

In [36]:
#Train Model 
model = cluster.fit(features_std)

In [37]:
model.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

## DBSCAN Clustering

In [38]:
#Load Libraries 
from sklearn import datasets 
from sklearn.preprocessing import StandardScaler 
from sklearn.cluster import DBSCAN

In [39]:
#Load Data
iris = datasets.load_iris()
features = iris.data

In [40]:
#Standardize Features 
scaler = StandardScaler()
features_std = scaler.fit_transform(features)

In [41]:
#Create meanshift object 
cluster = DBSCAN(n_jobs = -1)

In [42]:
#Train Model 
model = cluster.fit(features_std)

In [43]:
model.labels_

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1, -1,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1, -1,
        0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  1,
        1,  1,  1,  1,  1, -1, -1,  1, -1, -1,  1, -1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1, -1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1, -1,  1, -1,  1,
        1,  1,  1, -1, -1, -1, -1, -1,  1,  1,  1,  1, -1,  1,  1, -1, -1,
       -1,  1,  1, -1,  1,  1, -1,  1,  1,  1, -1, -1, -1,  1,  1,  1, -1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1],
      dtype=int64)

## Social Networking Data

In [45]:
import pandas as pd

In [46]:
Dataset = pd.read_csv('C:\\Users\\ITLAB3\\Desktop\\160120747043(Rithvik AIDS)\\Social_Network_Ads.csv')

In [49]:
Dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [60]:
#Load Data
features = Dataset.drop(["User ID", "Gender", "Purchased"], axis = "columns")

In [61]:
features

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [62]:
#Standardize Features 
scaler = StandardScaler()
features_std = scaler.fit_transform(features)

In [63]:
#Create k-mean object 
cluster = KMeans(n_clusters = 4, random_state = 0)

In [64]:
#Train Model 
model = cluster.fit(features_std)

In [65]:
model.labels_

array([0, 0, 0, 0, 0, 0, 1, 3, 0, 1, 0, 0, 0, 0, 0, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 0, 0, 1, 3, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 3, 0,
       1, 0, 0, 0, 3, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3, 0, 1, 0, 3, 2, 0,
       0, 0, 0, 1, 0, 0, 0, 3, 0, 3, 0, 0, 1, 0, 1, 1, 0, 1, 0, 3, 0, 1,
       0, 1, 0, 3, 0, 0, 1, 1, 0, 3, 1, 0, 1, 0, 1, 3, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 2, 0, 0, 0, 1, 1, 1,
       1, 0, 2, 1, 0, 3, 1, 1, 1, 0, 1, 0, 0, 1, 3, 0, 0, 3, 3, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 3, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 2, 3, 1, 3, 2, 3, 3, 3, 2, 3, 3, 2, 1, 2, 3, 2, 1, 3, 3,
       1, 1, 3, 3, 1, 1, 3, 3, 1, 1, 3, 1, 3, 3, 3, 1, 1, 1, 1, 3, 3, 1,
       3, 3, 1, 3, 1, 3, 1, 1, 2, 1, 3, 3, 2, 3, 1, 1, 3, 3, 1, 3, 3, 1,
       3, 3, 1, 1, 3, 1, 3, 2, 2, 3, 2, 2, 1, 3, 2, 2, 2, 1, 1, 2, 3, 1,
       1, 3, 1, 1, 3, 3, 2, 1, 1, 1, 1, 3, 1, 3, 2, 2, 3, 1, 1, 1, 3, 3,
       3, 1, 1, 1, 1, 3, 1, 1, 3, 1, 2, 1, 3, 2, 1, 2, 3, 1, 1, 1, 3, 3,
       1, 3, 1, 1, 2, 1, 3, 1, 1, 3, 3, 1, 1, 2, 3, 1, 2, 3, 1, 1, 3, 1,
       1, 1, 1, 2, 2, 1, 1, 1, 3, 2, 2, 1, 3, 2, 2, 3, 1, 2, 2, 2, 1, 3,
       1, 2, 1, 1, 1, 2, 1, 2, 3, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2,
       2, 2, 0, 2])

In [66]:
#Create meanshift object 
cluster = DBSCAN(n_jobs = -1)

In [70]:
#Train Model 
model = cluster.fit(features)

In [71]:
model.labels_

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1], dtype=int64)

In [72]:
#Create meanshift object 
cluster = MeanShift(n_jobs = -1)

In [75]:
#Train Model 
model = cluster.fit(features)

In [76]:
model.labels_

array([1, 1, 1, 1, 0, 1, 0, 2, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 2, 1,
       0, 1, 0, 1, 2, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 2, 1, 0, 0, 2, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 2, 1, 2, 1, 1, 0, 1, 0, 1, 1, 0, 0, 2, 1, 0,
       0, 1, 0, 2, 1, 1, 0, 1, 1, 2, 0, 1, 0, 0, 0, 2, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 2, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 2, 2, 0, 1, 1, 0, 0, 1, 0, 2, 1, 0, 2, 2, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 2, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 2, 0, 2, 1, 2, 2, 2, 1, 0, 2, 1, 1, 1, 2, 0, 0, 0, 2,
       0, 0, 2, 2, 0, 1, 2, 2, 0, 0, 2, 1, 2, 0, 2, 0, 1, 0, 0, 2, 2, 0,
       0, 2, 0, 2, 1, 2, 1, 2, 1, 1, 2, 2, 1, 0, 0, 1, 0, 2, 0, 2, 2, 0,
       0, 2, 0, 0, 2, 0, 2, 0, 1, 2, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 2, 0,
       0, 2, 0, 0, 2, 0, 1, 0, 1, 0, 0, 2, 0, 2, 1, 0, 2, 0, 0, 1, 2, 2,
       2, 1, 0, 0, 1, 2, 0, 0, 2, 1, 1, 0, 2, 0, 1, 1, 2, 0, 0, 0, 2, 2,
       1, 2, 0, 0, 0, 1, 2, 0, 1, 2, 2, 0, 0, 1, 2, 0, 0, 2, 0, 0, 2, 0,
       0, 1, 2, 1, 0, 0, 0, 1, 2, 1, 1, 0, 2, 1, 1, 0, 0, 1, 1, 0, 0, 2,
       0, 1, 0, 1, 0, 1, 0, 1, 2, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1], dtype=int64)